body {
  background-color: #white;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url("https://upload.wikimedia.org/wikipedia/commons/a/aa/Blue-skies-cumulus-clouds.jpg") center / cover no-repeat;
  z-index: -1;
}

.cuadro {
  background-color: white;
  width: 350px;
  max-width: 70%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

iframe {
  height: 400px;
  width: 100%;
  border: none;
}

.cuadro:first-of-type {
  margin-top: 200px;
}

.cuadro:last-of-type {
  margin: 20px auto 0;
  margin-bottom:50px;
}

a {
  display: block;
}

.rotating-border {
        width: max-content;
        background: linear-gradient(90deg, black 50%, transparent 50%), linear-gradient(90deg, black 50%, transparent 50%), linear-gradient(0deg, black 50%, transparent 50%), linear-gradient(0deg, black 50%, transparent 50%);
        background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
        background-size: 15px 4px, 15px 4px, 4px 15px, 4px 15px;
        padding: 10px;
        animation: border-dance 4s infinite linear;
}

@keyframes border-dance {
      0% {
        background-position: 0 0, 100% 100%, 0 100%, 100% 0;
      }
      100% {
        background-position: 100% 0, 0 100%, 0 0, 100% 100%;
      }
}

h1 {
  font-size: 24px;
  margin-top: 0;
}

p {
  font-size: 16px;
  margin-bottom: 10px;
}

img {
  max-width: 200px;
}
